<template>
  <div class="hello">
    <Login/>
  </div>
</template>

<script>
import Login from './Login.vue'
export default {
  name: 'Base',
  components: {
    Login
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  width: 75%;
  margin: 0 auto;
  padding-top: 100px;
}
</style>
