<template>
  <div class="challenge-detail">
    <div class="container">
      <div class="header">
        <div class="create-challenge">
          <button class="add-challenge">
            <router-link to="/home">Back</router-link>
          </button>
        </div>
        <div class="logout">
          <button class="logout-button">
            <router-link to="/">Log out</router-link>
          </button>
        </div>
      </div>
      <div class="challenge">
        <div class="challenge-heading">
          <h1>{{ challenge.heading }}</h1>
          <div class="challenge-heading">
            <img src="../assets/delete.png" class="delete-challenge" @click="deleteChallenge"/>
          </div>
        </div>
        <div class="challenge-description">
          <p>{{ challenge.description }}</p>
        </div>
        <div class="challenge-tags">
          <div v-for="tags in tagsArray" :key="tags" class="tags">
            <div>{{ tags }}</div>
          </div>
        </div>
        <div class="challenge-vote">
          <div class="vote-count">
            <p>{{ challenge.likedEmps.length }}</p>
            <img src="../assets/thumbsup.png" class="update-vote" @click="updateVoteCount"/>
          </div>
          <div class="creater">
            <p>Created by: {{ challenge.empId }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ChallengeDetails',
  props: ['id'],
  data() {
    return {
      challenge: {},
      empId: this.$store.state.empId
    }
  },
  computed: {
    ...mapGetters({
      getChallenge: 'getChallenge'
    }),
    tagsArray() {
      return this.challenge.tag.split(',')
    }
  },
  methods: {
    updateVoteCount() {
      if (!this.challenge.likedEmps.includes(this.empId))
        this.$store.commit('addVoteCount', this.id)
    },
    deleteChallenge() {
      this.$store.commit('removeChallenge', this.id)
      this.$router.push('/home')
    }
  },
  mounted() {
    this.challenge = this.getChallenge(this.id)
  }
}
</script>

<style lang="scss" scoped>
.challenge-detail {
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background: lightgoldenrodyellow;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .create-challenge {
        font-size: 22px;
        font-weight: 700;
        padding: 20px 20px;
      }
      .logout {
        font-size: 22px;
        font-weight: 700;
        padding: 20px 20px;
      }
    }
    .challenge {
      padding: 20px 50px;
      .challenge-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
      }
      .challenge-description {
        margin-bottom: 15px;
        p {
          text-align: left;
        }
      }
      .challenge-tags {
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        .tags {
          padding: 5px;
          margin: 5px;
          border: 1px dotted black;
        }
      }
      .challenge-vote {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        .vote-count {
          display: flex;
          flex-direction: row;
          align-items: center;
          p {
            margin: 3px 5px 0px 5px;
          }
          img {
            margin: 0 5px;
          }
        }
      }
    }
  }
}
button {
  background-color: #E7D2CC;
  border: 2px solid black !important;
  border-radius: .25rem;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  a {
    text-decoration: none;
  }
}
button:hover {
  opacity: 0.8;
}
</style>
