<template>
  <div class="create-challenge-body">
    <div class="create-challenge">
      <div class="header">
        <div class="back-home">
          <button class="add-challenge">
            <router-link to="/home">Back</router-link>
            <router-view/>
          </button>
        </div>
        <div class="logout">
          <button class="logout-button" @click="logout">
            <router-link to="/">Log out</router-link>
            <router-view/>
          </button>
        </div>
      </div>
      <div class="create-challenge-heading">
        <h1>Create a new challenge</h1>
      </div>
      <div class="create-challenge-form">
        <section>
            <form class="form">
              <div class="form-container">
                <p class="mandatory-text">Fields marked with * are mandatory</p>
                <div class="form-row">
                  <input
                    id="challenge_heading"
                    type="text"
                    v-model="form.heading"
                    placeholder="Challenge title*"
                    :class="{'input-error': $v.form.heading.$error}"
                  >
                </div>
                <div class="form-row">
                  <input
                    id="challenge_tag"
                    type="text"
                    v-model="form.tag"
                    placeholder="Tag*(Enter coma separated input)"
                    :class="{'input-error': $v.form.tag.$error}"
                  >
                </div>
                <div class="form-row">
                  <textarea
                    id="challenge_description"
                    type="text"
                    v-model="form.description"
                    rows=5
                    placeholder="Description*"
                    :class="{'input-error': $v.form.description.$error}"
                  >
                  </textarea>
                </div>
                 <div class="form-row">
                  <button @click="addChallenge">
                    Add Challenge
                  </button>
                </div>
              </div>
            </form>
          </section>
      </div>
    </div>
  </div>
</template>

<script>
const { required, minLength } = require('vuelidate/lib/validators')
export default {
  name: 'CreateChallenges',
  data() {
    return {
      form: {
        id: Date.now(),
        heading: '',
        tag: '',
        description: '',
        likedEmps: [],
        empId: this.$store.state.empId
      }
    }
  },
  validations() {
    return {
      form: {
        heading: {
          required
        },
        tag: {
          required
        },
        description: {
          required,
          minLength: minLength(1),
        }
      }
    }
  },
  methods: {
    logout() {
      this.$store.commit('removeUser')
      this.$router.push('/')
    },
    addChallenge(e) {
      e.preventDefault()
      this.$v.form.$touch()
      if(!this.$v.form.$invalid) {
        this.$store.commit('addChallenges', this.form)
        this.$router.push('/home')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.create-challenge-body {
  display: flex;
  justify-content: center;
  .create-challenge {
    width: 50%;
    background: lightgoldenrodyellow;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .back-home {
        font-size: 22px;
        font-weight: 700;
        padding: 20px 20px;
      }
      .logout {
        font-size: 22px;
        font-weight: 700;
        padding: 20px 20px;
      }
    }
    .create-challenge-heading {
      padding: 30px;
    }
    .create-challenge-form {
      background: lightgoldenrodyellow;
      .form-container {
        padding: 10px 20px;
        .mandatory-text {
          font-size: 16px;;
          text-align: left;
          padding-bottom: 15px;
        }
        .form-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}
input,textarea {
  width: 100%;
  padding: 12px 20px;
  border-radius: .25rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #E7D2CC;
  border: 2px solid black !important;
  border-radius: .25rem;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  a {
    text-decoration: none;
  }
}
button:hover {
  opacity: 0.8;
}
.input-error {
  border: 1px solid red;
}
</style>