<template>
  <div>
    <div class="container-wrapper">
      <div class="container">
        <div class="header">
          <div class="create-challenge">
            <button class="add-challenge">
              <router-link to="/add-challenges">Add challenge</router-link>
              <router-view/>
            </button>
          </div>
          <div class="logout">
            <button class="logout-button" @click="logout">
              <router-link to="/">Log out</router-link>
              <router-view/>
            </button>
          </div>
        </div>
        <div class="heading">
          <div class="main-heading">
            <h1>Challenges</h1>
          </div>
        </div>
        <div v-if="sortedChallengeArray(sortType).length" class="challenges">
          <div class="sort-challenges">
            <div class="sort-vote">
              <button @click="sortBy('vote')">
                sort by vote
              </button>
            </div>
            <div class="sort-date">
              <button @click="sortBy('id')">
                sort by date
              </button>
            </div>
          </div>
          <div v-for="challenge in sortedChallengeArray(sortType)" :key="challenge.heading">
            <div class="challenges-row">
              <div class="challenge-heading">
                <h1>{{challenge.heading}}</h1>
              </div>
              <div class="see-more">
                <button class="see-more-button">
                  <router-link :to="{ name: 'challenge-detail', params: { id: challenge.id }}">See more...</router-link>
                  <router-view/>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div v-else class="no-challenge">
          <h2>There is no challenges</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
export default {
  name: 'Home',
  data() {
    return {
      sortType: 'date',
      loggedUser: this.$store.state.empId
    }
  },
  computed: {
    ...mapState({
      challengeList: state => state.challengeList
    }),
    ...mapGetters(['sortedChallengeArray'])
  },
  methods: {
    logout() {
      this.$store.commit('removeUser')
      this.$router.push('/')
    },
    sortBy(type) {
      this.sortType = type
    }
  }
}
</script>

<style lang="scss" scoped>
.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container {
    width: 70%;
    background: lightgoldenrodyellow;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .create-challenge {
        font-size: 22px;
        font-weight: 700;
        padding: 20px 20px;
      }
      .logout {
        font-size: 22px;
        font-weight: 700;
        padding: 20px 20px;
      }
    }
    .heading {
      padding: 10px 30px;
      .main-heading {
        color: black;
      }
    }
    .challenges {
      display: flex;
      flex-direction: column;
      .sort-challenges {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 25px;
      }
      .challenges-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background:#B24080;
        border-radius: 0.5rem;
        margin: 25px;
        .challenge-heading{
          padding: 5px 20px;
        }
        .see-more {
          padding: 10px;
        }
      }
    }
    .no-challenge {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
    }
  }
}
button {
  background-color: #E7D2CC;
  border: 2px solid black !important;
  border-radius: .25rem;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  a {
    text-decoration: none;
  }
}
button:hover {
  opacity: 0.8;
}

</style>