<template>
  <div>
    <div class="container">
      <div class="login">
        <div class="login-heading">
          <h1>Login to Continue</h1>
        </div>
        <div class="login-container">
          <section>
            <form
              class="form"
            >
              <div class="form-container">
                <div class="form-row">
                  <input
                    id="employer_id"
                    v-model="empId"
                    type="number"
                    min="1"
                    placeholder="Emp ID*"
                    :class="{'input-error': $v.empId.$error}"
                  >
                </div>
                <div class="form-row">
                  <button class="login-button" @click="login">
                    LOG IN
                  </button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const { required } = require('vuelidate/lib/validators')
export default {
  name: 'Login',
  data() {
    return {
      empId: ''
    }
  },
  validations() {
    return {
      empId: {
        required,
      }
    }
  },
  methods: {
    login(e) {
      e.preventDefault()
      this.$v.empId.$touch()
      if(!this.$v.empId.$invalid) {
        this.$store.commit('addUserId', this.empId)
        this.$router.push('/home')
      }
    }
  }
}
</script>

<style lang="scss" scoped >
.container {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
    background: rgb(155, 155, 170);
    .login-heading {
      border: none;
      width: 75%;
      margin-bottom: 30px;
    }
    .login-container {
      width: 75%;
      .form {
        .form-container {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          .form-row {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

input {
  width: 100%;
  padding: 12px 20px;
  border-radius: .25rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.input-error {
  border: 1px solid red;
}
button {
  background-color: #E7D2CC;
  border: 2px solid black !important;
  border-radius: .25rem;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  a {
    text-decoration: none;
  }
}
button:hover {
  opacity: 0.8;
}

</style>